body {
	overflow: hidden;
	margin: 0;
	background-color: #600;
  }
  canvas {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*border: 1px solid red;*/
  }
  